.venv
.env

*.png
*.mp3
*.mp4
*.pyc
# GSD State Files
.gsd/ARCHITECTURE.md
.gsd/DECISIONS.md
.gsd/JOURNAL.md
.gsd/ROADMAP.md
.gsd/SPEC.md
.gsd/STACK.md
.gsd/STATE.md
.gsd/TODO.md

#docs
#GSD-STYLE.md
#.agent
#.gemini
#model_capabilities.yaml
# OS generated
Thumbs.db
.DS_Store
